* {padding: 0; margin: 0;}

[data-type=player] {border-bottom: 5px solid blue;}

[data-type=container] {display: block; background: #CCC; width: 100%; min-height: 150px; border-bottom: 1px dashed #888;}

[data-type=container].hand:before {content: "hand";}
[data-type=container].stacked:before {content: "stacked";}
[data-type=container].play:before {content: "play";}

[data-type=container].stacked [data-type=card] {display: none;}
[data-type=container].stacked [data-type=card]:first-of-type {display: inherit !important; background: gray;}

[data-type=card] {background-color: rgba(200, 170, 160, .8); border-bottom: 1px solid rgba(0, 0, 0, .3);}
[data-type=card] img {width: 30px;}
[data-type=card].kneeling img {-webkit-transform:rotate(90deg); -webkit-transform-origin: 50% 65%;}
[data-type=container].stacked [data-type=card].visible {display: inherit;}
[data-type=container].stacked.facedown [data-type=card]:not(.visible) img {content: url("cards/facedown.jpg");}

[data-type=container]:not(.play) [data-type=card] [data-type=counter] {display: none;}

[data-type=counter] {background: no-repeat left center; background-size: 20px 20px; border: none; width: 60px; padding-left: 20px; height: 25px;}
[data-type=counter][data-id=gold] {background-image: url("icons/gold.png");}
[data-type=counter][data-id=power] {background-image: url("icons/power.png");}
